body {
    font-family: "excon";
    /* margin-left: 10%; */
    color: black;

}

#hello {
    display: inline-block;
    /* display: 40%; */
    width: 100%;


}

input[type="text"],
input[type="email"] {
    border: transparent;

    width: 95%;
    outline: none;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;

}

input:focus {

    border-bottom: 1px solid gray;
}

#qwerty {
    padding-top: 20px;
    background: linear-gradient(180deg, #162EFF 0%, #3C0BFF 42.14%, #7000FF 100%, #7000FF 100%);
    color: white;
    width: 100%;
    border-radius: 0.3rem;
    height: 2.5rem;
    border: 0px solid black;
    padding: 5px;
    font-size: large;
}

#op2 {
margin-top: 3rem;
display: flex;
align-items: center;
justify-content: center;
gap: 3rem;

}

#qw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 80%; */

/* 
    height: 50%;
    width: 40%; */



}

address {
    padding-top: 10px;
    color: blue;

    display: inline-block;

}
.love{
    height: 3rem;
     width: 3rem;
}
.email{
    height: 2rem; 
    width: 2rem;
    margin-right: 1rem;
}
.slice{
    height: 350px; 
    width: 350px;
}
.fleeex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boxx1{
    width: 45%;
    /* border: 2px solid black; */
}
.innerbo{
    width: 100%;
    /* border: 2px solid blue  */
}
a{
    text-decoration: none;

}
.spacex{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.blue{
    color: blue;
}
.rowwww{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.subtxtttt{
    opacity: 0.9;
}
@media only screen and (max-width: 982px) {
    .fleeex{
        flex-direction: column;
    }
    #qw{
        margin-top: 5rem;
    }
    #op2{
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        justify-content: center;
    }
    .email{
        margin-left: 0.6rem;
    }
}